@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: Revalia;
    src: url(fonts/Revalia/Revalia-Regular.ttf);
}

div {
    left: 0px;
    top: -7px;

    width: 100vw;
    height: 700px;

    background-color: #EEEFF1;
}

#logo {
    position: absolute;
    left: 50px;
    top: 30px;

    width: 250px;
    height: 100px;

    font-family: Revalia, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;

    text-align: center;

    color: #34547A;
}

.link {
    position: absolute;
    top: 72px;

    height: 16px;

    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 26px;
    letter-spacing: 0.1em;

    color: #000;
}

a.link:visited {
    color: darkblue;
}

a.link:hover {
    color: lightblue;
}

a.link:focus {
    background-color: skyblue;
}

#main {
    left: 596px;

    width: 84px;
}

#about {
    left: 722px;

    width: 120px;
}

#work {
    left: 864px;

    width: 74px;
}

#process {
    left: 980px;

    width: 86px;
}

#contacts {
    left: 1108px;

    width: 99px;
}

img {
    position: absolute;
    left: 300px;
    top: 271px;

    width: 357px;
    height: 233.7px;
}

h2 {
    position: absolute;
    left: 774px;
    top: 250px;

    width: 541px;
    height: 45px;

    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;

    color: #000;
}

#paragraph1 {
    position: absolute;
    left: 775px;
    top: 355px;

    width: 540px;
    height: 67px;

    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    color: #727272;
}